<h1>
  Listado de heroes
</h1>
<hr/>

<div class="row col-md-12">
  <button class="btn btn-primary" [routerLink]="['/heroe', 'nuevo']" >
    Nuevo heroe
  </button>
</div>
<br/>

<div class="row">
  <div class="col-md-12">
    <div class="table-responsive">
      <table class="table">
        <thead class="thead-inverse">
          <tr>
            <th>#</th>
            <th>Nombre</th>
            <th>Casa</th>
            <th>Opciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let k of heroes | keys; let i =index">
            <td>{{i+1}}</td>
            <td>{{heroes[k].nombre}}</td>
            <td>{{heroes[k].casa}}</td>
            <td></td>
          </tr>
          
        </tbody>
      </table>
    </div>
  </div>
</div>