<h1>Detalle {{heroe.nombre}} </h1> 

<hr>
<button [routerLink]="['/heroes']" class="btn btn-outline-danger" >Volver</button> 
<button [routerLink]="['/heroe','nuevo']" (click)="resetForm(formu)" class="btn btn-outline-primary" >Nuevo</button> 

<div class="row">
  <div class="col-md-12">
    <form (ngSubmit)="guardar()" #formu="ngForm">
      <div class="form-group">
        <label>Nombre</label>
        <input type="text" required class="form-control" placeholder="Nombre" [(ngModel)]="heroe.nombre" name="nombre">
      </div>
      <div class="form-group">
        <label>Casa</label>
        <select name="" id="" class="form-control" [(ngModel)]="heroe.casa" name="casa">
          <option value="Marvel" selected="selected">Marvel</option>
          <option value="Dc">DC</option>
        </select>
      </div>
      <div class="form-group">
        <label>Bio</label>
        <textarea name="" class="form-control" [(ngModel)]="heroe.bio" name="bio"></textarea>
      </div>
      <div class="form-group">
       
        <button type="submit" [disabled]="!formu.valid" class="btn btn-outline-success">Guardar</button> 
      </div>
    </form>
  </div>
</div>